/HappyHeadlines.ArticleService/obj/
/HappyHeadlines.ArticleService/bin/
/HappyHeadlines.Core/obj/
/HappyHeadlines.Core/bin/
/HappyHeadlines.Infrastructure/bin/
/HappyHeadlines.Infrastructure/obj/
/HappyHeadlines.ArticleService/bin
/HappyHeadlines.ArticleService/obj
/HappyHeadlines.ArticleService/bin
/HappyHeadlines.ArticleService/bin
/HappyHeadlines.ArticleService/bin/Debug
/HappyHeadlines.ArticleService/bin
