@model HappyHeadlines.NewsletterService.Templates.TemplateModels.ImmediateModel

<h2>@Model.Title</h2>
<p>@Model.Summary</p>
<p><a href="@Model.Url">Læs mere</a></p>
<hr />
<p>Du modtager dette fordi du er tilmeldt “immediate”. <a href="{{unsubscribe}}">Afmeld</a></p>


@{
}
